<footer class="bg-white shadow dark:bg-gray-900 mt-8">
    <div class="container mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="#" class="flex items-center mb-4 sm:mb-0 space-x-3">
                <img src="<?= $web['web_logo'] ?>" class="h-8" alt="Lapak Siswa Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Lapak
                    Siswa</span>
            </a>
            <ul
                class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Tentang Kami</a>
                </li>
            </ul>
        </div>

        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 text-sm text-gray-500 dark:text-gray-400">
            <div>
                <h3 class="font-semibold text-gray-700 dark:text-white">Bantuan</h3>
                <ul>
                    <li><a href="#" class="hover:underline">FAQ</a></li>
                    <li><a href="#" class="hover:underline">Kontak Kami</a></li>
                    <li><a href="#" class="hover:underline">Kebijakan Privasi</a></li>
                    <li><a href="#" class="hover:underline">Syarat & Ketentuan</a></li>
                </ul>
            </div>
            <div>
                <h3 class="font-semibold text-gray-700 dark:text-white">Layanan</h3>
                <ul>
                    <li><a href="#" class="hover:underline">Jual di Lapak Siswa</a></li>
                    <li><a href="#" class="hover:underline">Cara Pembelian</a></li>
                    <li><a href="#" class="hover:underline">Pengiriman</a></li>
                </ul>
            </div>
            <div>
                <h3 class="font-semibold text-gray-700 dark:text-white">Ikuti Kami</h3>
                <ul class="flex space-x-4">
                    <li><a href="#" class="hover:text-blue-600"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#" class="hover:text-blue-400"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="hover:text-pink-500"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" class="hover:text-red-600"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
            <div>
                <h3 class="font-semibold text-gray-700 dark:text-white">Metode Pembayaran</h3><br>
                <ul class="flex space-x-4">
                    <?php foreach ($pembayaran as $p): ?>
                        <li><img src="<?= $p['logo'] ?>" alt="<?= $p['nama'] ?>" class="h-7" /></li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>

        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">&copy; 2024 <a href="#"
                class="hover:underline">Lapak Siswa</a>. All Rights Reserved.</span>
    </div>
</footer>

<script>
    window.addEventListener('load', function() {
        const storedValue = localStorage.getItem('searchValue');
        if (storedValue) {
            document.getElementById('searchInput').value = storedValue;
            localStorage.setItem('searchValue', '');
        }
    });
    
    var input = document.getElementById("searchInput");

    input.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("searchButton").click();
        }
    });

    function searchButtonHandle() {
        var input = document.getElementById("searchInput").value;

        if (input.length <= 0) {
            window.location.href = '<?= base_url() ?>';
            return;
        };

        localStorage.setItem('searchValue', input)
        // window.location.href = '<?php echo base_url('/search?keyword='); ?>' + encodeURIComponent(input)
    };

    
    function toggleDropdown() {
        const dropdown = document.getElementById('dropdown');
        dropdown.classList.toggle('hidden');
    }

    const sidebarToggle = document.getElementById('sidebarToggle');
    const sidebarClose = document.getElementById('sidebarClose');
    const mobileSidebar = document.getElementById('mobileSidebar');

    sidebarToggle.addEventListener('click', () => {
        mobileSidebar.classList.remove('hidden');
    });

    sidebarClose.addEventListener('click', () => {
        mobileSidebar.classList.add('hidden');
    });


</script>
</nav>



</html>