{{ define "produk" }}
<style>
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
</style>

<div class="container mx-auto mt-4 px-4 sm:px-6 lg:px-20 flex flex-col">
  <div class="flex-grow">
    {{ if .Produk}}
    <nav class="text-gray-600 mb-4 text-sm sm:text-base">
      <a href="/" class="hover:text-blue-500">Beranda</a>
      <span>&gt;</span>
      <a href="{{ .Toko.Domain }}" class="hover:text-blue-500"
        >{{ .Toko.Nama }}</a
      >
      <span>&gt;</span>
      <span class="text-blue-500 font-semibold"> {{ .Produk.Nama }} </span>
    </nav>

    <div class="flex flex-grow flex-col md:flex-row gap-6">
      <div class="bg-white py-6 shadow rounded-lg p-6 flex-1">
        <div
          class="flex flex-col sm:flex-row items-start sm:items-center justify-between mb-6"
        >
          <h1 class="text-2xl font-bold text-gray-800">Detail Produk</h1>
        </div>

        <div class="flex flex-col md:flex-row gap-6">
          <div class="flex-shrink-0">
            <img
              src="/public/img/product/{{ .Produk.Foto }}"
              alt="img/product/{{ .Produl.Foto }}"
              class="w-full max-w-sm h-auto object-cover rounded-lg border"
            />
          </div>

          <div class="flex-grow">
            <input
              id="productid"
              type="hidden"
              value="{{ .Produk.ProdukID }}"
            />
            {{ if or (eq .Produk.Stok 0) (ne .Produk.Status "tersedia") }}
            <div
              class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mb-4 rounded-lg"
            >
              <p class="font-bold">Peringatan</p>
              <p>Barang ini saat ini tidak tersedia.</p>
            </div>
            {{ else if eq .Toko.Status "nonaktif" }}
            <div
              class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mb-4 rounded-lg"
            >
              <p class="font-bold">Peringatan</p>
              <p>Barang ini saat ini tidak tersedia karena toko tidak aktif.</p>
            </div>
            {{ end }}
            <h2 class="text-3xl font-semibold text-gray-800 mb-2">
              {{ .Produk.Nama }}
            </h2>
            <p class="text-sm font-semibold mb-2">
              <span class="text-gray-500 font-bold">
                <i class="fa-solid fa-bag-shopping"></i> Terjual: {{
                .Produk.Terjual }}
              </span>
              <span class="text-yellow-400 ml-4">
                <i class="fas fa-star"></i> Rating: {{ .Produk.Rating }}
              </span>
            </p>

            <div class="text-2xl font-bold text-red-500 mb-4">
              Rp {{ .Produk.HargaFormat }}
            </div>

            <div class="mb-6">
              <h3 class="text-lg font-semibold text-gray-800 mb-2">
                Spesifikasi
              </h3>
              <ul class="list-disc pl-5 text-gray-600">
                <li>Kondisi : {{ .Produk.Kondisi }}</li>
                <li>Unit: {{ .Produk.Unit }}</li>
                <li>Varian: {{ .Produk.Varian }}</li>
                <li>Kategori: {{ .Produk.Kategori }}</li>
              </ul>
            </div>

            <div class="mb-1">
              <h3 class="text-lg font-semibold text-gray-800 mb-2">
                Deskripsi Produk
              </h3>
              <p class="text-base font-semibold text-gray-400">
                {{ .Produk.Deskripsi }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-white shadow-lg rounded-lg p-6 w-full md:w-1/3 mt-6">
        <div class="mb-6">
          <label for="quantity" class="block text-gray-700 font-medium"
            >Atur jumlah dan catatan</label
          >
          <div class="flex items-center mt-2">
            {{ if or (eq .Produk.Stok 0) (ne .Produk.Status "tersedia") (eq
            .Toko.Status "nonaktif") }}
            <button
              id="minus_stok"
              disabled
              class="bg-gray-200 text-gray-700 py-2 px-4 rounded-l-lg hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
              <i class="fas fa-minus"></i>
            </button>
            <input
              type="number"
              id="quantity"
              disabled
              class="text-center border-t border-b border-gray-200 py-2 w-16 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
              value="1"
              min="1"
              oninput="validateInput(this)"
            />
            <button
              id="tambah_stok"
              disabled
              class="bg-gray-200 text-gray-700 py-2 px-4 rounded-r-lg hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
              <i class="fas fa-plus"></i>
            </button>
            {{ else }}
            <button
              id="minus_stok"
              class="bg-gray-200 text-gray-700 py-2 px-4 rounded-l-lg hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
              <i class="fas fa-minus"></i>
            </button>
            <input
              type="number"
              id="quantity"
              class="text-center border-t border-b border-gray-200 py-2 w-16 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
              value="1"
              min="1"
              oninput="validateInput(this)"
            />
            <button
              id="tambah_stok"
              class="bg-gray-200 text-gray-700 py-2 px-4 rounded-r-lg hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
              <i class="fas fa-plus"></i>
            </button>
            {{ end }} {{ if or (eq .Produk.Stok 0) (ne .Produk.Status
            "tersedia") (eq .Toko.Status "nonaktif") }}
            <span class="ml-4 text-gray-700">Stok Total: -</span>
            {{ else }}
            <span class="ml-4 text-gray-700"
              >Stok Total: {{ .Produk.Stok }}</span
            >
            {{ end }}
          </div>
        </div>

        <div class="mb-6 flex items-center">
          <p class="text-lg font-bold text-gray-500 mr-2">Subtotal:</p>
          {{ if or (eq .Produk.Stok 0) (ne .Produk.Status "tersedia") (eq
          .Toko.Status "nonaktif") }}
          <p id="subtotal" class="text-lg font-bold text-red-500 mr-2">
            Tidak Dijual
          </p>
          {{ else }}
          <p id="subtotal" class="text-lg font-bold text-black mr-2">
            Rp {{ .Produk.HargaFormat }}
          </p>
          {{ end }}
        </div>

        {{ if or (eq .Produk.Stok 0) (ne .Produk.Status "tersedia") (eq
        .Toko.Status "nonaktif") }} {{ else }}
        <div class="flex flex-col gap-4">
          <button
            id="cart"
            class="bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600"
          >
            <i class="fas fa-cart-arrow-down mr-2"></i>+ Keranjang
          </button>
          <button
            class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600"
          >
            <i class="fas fa-credit-card mr-2"></i>Beli Langsung
          </button>
        </div>
        {{ end }}

        <div class="flex justify-between items-center mt-6">
          <button class="text-gray-700 hover:text-gray-900">
            <i class="fas fa-comments mr-2"></i>Chat
          </button>
          <button class="text-gray-700 hover:text-gray-900">
            <i class="fas fa-heart mr-2"></i>Wishlist
          </button>
          <button
            onclick="shareButton()"
            class="text-gray-700 hover:text-gray-900"
          >
            <i class="fas fa-share mr-2"></i>Share
          </button>
        </div>
      </div>
    </div>

    <div
      class="bg-white shadow rounded-lg p-6 mt-6 flex flex-col md:flex-row items-center border-2 border-blue-500"
    >
      <div class="flex-shrink-0 mb-4 md:mb-0 md:mr-6">
        <img
          src="/public/img/market/{{ .Toko.Logo }}"
          alt="Logo {{ .Toko.Nama }}"
          class="w-24 h-24 object-cover rounded-full border-2 border-blue-500"
        />
      </div>
      <div class="flex-grow text-center md:text-left">
        <h3 class="text-lg font-bold text-gray-800">{{ .Toko.Nama }}</h3>
        <p class="text-gray-600 mb-2">
          <i class="fas fa-map-marker-alt text-red-500 mr-1"></i>{{ .Toko.Alamat
          }}
        </p>
        <div class="flex items-center justify-center md:justify-start gap-4">
          <p class="text-gray-600">
            <i class="fas fa-box mr-1"></i>{{ .Terjual }} Produk Terjual
          </p>
          <p class="text-yellow-500">
            <i class="fas fa-star mr-1"></i>{{ .Toko.Rating }} Rating
          </p>
        </div>
      </div>
      <div class="mt-4 md:mt-0">
        <a
          href="/toko/{{ .Produk.Domain }}"
          class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition"
        >
          <i class="fas fa-store mr-2"></i>Kunjungi Toko
        </a>
      </div>
    </div>
    <div class="mt-10">
      <h3 class="text-xl font-semibold text-gray-800 mb-4">Produk Terkait</h3>
      {{ if .Related }}
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
        {{ range $i, $p := .Related }}
        <a
          href="/{{ $p.Domain }}/{{ $p.Slug }}"
          class="bg-white shadow rounded-lg overflow-hidden hover:shadow-md transition"
        >
          <img
            src="/public/img/product/{{ $p.Foto }}"
            alt="{{ $p.Nama }} Foto"
            class="w-full h-40 object-cover"
          />
          <div class="p-4">
            <h4 class="text-lg font-medium text-gray-800 truncate">
              {{ $p.Nama }}
            </h4>
            <p class="text-red-500 font-semibold">Rp {{ $p.Harga }}</p>
          </div>
        </a>
        {{ end }}
      </div>
      {{ else }}
      <p class="text-red-500">Maaf, belum ada produk terkait.</p>
      {{ end }}
    </div>

    {{ else }}
    <p class="text-center text-gray-500">Produk tidak Ditemukan</p>
    {{ end }}
  </div>
</div>

<script src="/public/js/sweetalert.js"></script>
<script>
  document.getElementById("cart").addEventListener('click', function (event) {
    event.preventDefault();

    const productid = document.getElementById("productid").value;

    let formData = new FormData();
    formData.append("productid", productid);

    fetch("/api/add-cart", {
      method: "POST",
      body: formData,
    })
      .then((response) => {
        if (!response.ok) {
          Swal.fire({
            title: "Network Error!",
            text: data.result || "Internal server error",
            icon: "success",
          });
          return;
        }

        return response.json();
      })
      .then((data) => {
        if (data.status) {
          Swal.fire({
            title: "Berhasil!",
            text: "Berhasil menambah produk ke keranjang!",
            icon: "success",
          });
        } else {
          Swal.fire({
            title: "Gagal!",
            text: data.result || "Gagal memasukkan produk ke keranjang!",
            icon: "error",
          });
        }
      })
      .catch((error) => {
        Swal.fire({
          title: "Network Error!",
          text: data.result || "Internal server error",
          icon: "success",
        });
      });
  });

  document.getElementById("quantity").addEventListener("input", function () {
    let stok = "{{ .Produk.Stok }}";
    let quantityInput = parseInt(this.value, 10);

    if (quantityInput > stok) {
      this.value = stok;
    }
  });

  function shareButton() {
    var url = "{{ .Website.BaseUrl }}/{{ .Toko.Domain }}/{{ .Produk.Slug }}";

    const shareData = {
      title: "Lapak Siswa",
      text: "Yuk beli {{ .Produk.Nama }} di Lapak Siswa",
      url: url,
    };

    try {
      navigator.share(shareData);
    } catch (err) {
      Swal.fire({
        title: "Error",
        text: "Error saat share",
        icon: "error",
      });
    }
  }

  function validateInput(input) {
    if (parseInt(input.value) < 1) {
      input.value = 1;
    }
  }

  document.getElementById("minus_stok").addEventListener("click", function () {
    let quantityInput = document.getElementById("quantity");
    let subtotal = document.getElementById("subtotal");
    const price = parseInt("{{ .Produk.Harga }}");

    let currentQuantity = parseInt(quantityInput.value);
    if (currentQuantity > 1) {
      quantityInput.value = currentQuantity - 1;
      let subtotalNew = price * (currentQuantity - 1);
      subtotal.innerText = "Rp " + subtotalNew.toLocaleString("id-ID");
    }
  });

  document.getElementById("tambah_stok").addEventListener("click", function () {
    let quantityInput = document.getElementById("quantity");
    let subtotal = document.getElementById("subtotal");
    const price = parseInt("{{ .Produk.Harga }}");
    const maxStock = parseInt("{{ .Produk.Stok }}");

    let currentQuantity = parseInt(quantityInput.value);
    if (currentQuantity < maxStock) {
      quantityInput.value = currentQuantity + 1;
      let subtotalNew = price * (currentQuantity + 1);
      subtotal.innerText = "Rp " + subtotalNew.toLocaleString("id-ID");
    }
  });
</script>
{{ end }}
