{{ define "edit" }}
<div class="content container lg:ml-60 sm:ml-20 mr-8 ml-10 p-8 transition-all duration-300">
    <div class="space-y-4 max-w-4xl mx-auto my-8 p-6 bg-white shadow-md rounded-md">
        <h2 class="text-2xl font-semibold text-left mb-6">Tambah Produk</h2>
        <div>
            <label for="namaproduk" class="block text-sm font-medium text-gray-700">Nama Produk</label>
            <input type="text" id="namaproduk" class="w-full p-3 border border-gray-300 rounded-md"
                value="{{ .Product.Nama }}" required />
        </div>
        <div>
            <label for="deskripsiproduk" class="block text-sm font-medium text-gray-700">Deskripsi Produk</label>
            <textarea id="deskripsiproduk" class="w-full p-3 border border-gray-300 rounded-md"
                required>{{ .Product.Deskripsi }}</textarea>
        </div>
        <div>
            <label for="kategori" class="block text-sm font-medium text-gray-700">
                Kategori
            </label>
            <select name="kategori" id="kategori" class="w-full p-3 border border-gray-300 rounded-md" required>
                {{ range $index, $k := .Kategori }}
                <option value="{{ $k.Slug }}">{{ $k.Nama }}</option>
                {{ end }}
            </select>
        </div>
        <div>
            <label for="varian" class="block text-sm font-medium text-gray-700">Varian (Pisahkan dengan koma) Contoh :
                XL,
                M, L</label>
            <input type="text" id="varian" class="w-full p-3 border border-gray-300 rounded-md"
                value="{{ .Product.Varian }}" required />
        </div>
        <div>
            <label for="unit" class="block text-sm font-medium text-gray-700">
                Unit
            </label>
            <select name="unit" id="unit" class="w-full p-3 border border-gray-300 rounded-md" required>
                <option value="pcs" {{ if eq .Product.Unit "pcs" }}selected{{ end }}>Pcs</option>
                <option value="kg" {{ if eq .Product.Unit "kg" }}selected{{ end }}>Kg</option>
                <option value="liter" {{ if eq .Product.Unit "liter" }}selected{{ end }}>Liter</option>
            </select>
        </div>
        <div>
            <label for="kondisi" class="block text-sm font-medium text-gray-700">
                Kondisi
            </label>
            <select name="kondisi" id="kondisi" class="w-full p-3 border border-gray-300 rounded-md" required>
                <option value="baru" {{ if eq .Product.Kondisi "baru" }}selected{{ end }}>Baru</option>
                <option value="bekas" {{ if eq .Product.Kondisi "bekas" }}selected{{ end }}>Second (Bekas)</option>
            </select>
        </div>
        <div>
            <label for="hargaproduk" class="block text-sm font-medium text-gray-700">Harga (Rupiah)</label>
            <input type="number" id="hargaproduk" class="w-full p-3 border border-gray-300 rounded-md"
                value="{{ .Product.Harga }}" required />
        </div>
        <div>
            <label for="stok" class="block text-sm font-medium text-gray-700">Stok</label>
            <input type="number" id="stok" class="w-full p-3 border border-gray-300 rounded-md"
                value="{{ .Product.Stok }}" required />
        </div>
        <div>
            <div id="image-preview-container" class="mt-2">
                <img id="image-preview" src="/img/product/{{ .Product.Foto }}" alt="Preview"
                    class="w-24 h-24 object-cover rounded-md border mb-1" />
            </div>

            <label for="gambarproduk" class="block text-sm font-medium text-gray-700">Ganti Gambar Product</label>
            <input type="file" id="gambarproduk" class="w-full p-3 border border-gray-300 rounded-md" required />

        </div>
        <button type="submit" id="edit" class="w-full py-3 bg-blue-600 text-white rounded-md">
            Edit Produk
        </button>
    </div>
</div>

<script>
    document.getElementById("gambarproduk").addEventListener("change", function () {
        const file = this.files[0];
        const previewContainer = document.getElementById("image-preview-container");
        const previewImage = document.getElementById("image-preview");

        if (file) {
            const reader = new FileReader();
            reader.onload = function (event) {
                previewImage.src = event.target.result;
                previewContainer.classList.remove("hidden");
            };
            reader.readAsDataURL(file);
        } else {
            previewContainer.classList.add("hidden");
        }
    });

    document.getElementById("edit").addEventListener("click", function (e) {
        e.preventDefault();

        const formData = new FormData();
        formData.append("nama", document.getElementById("namaproduk").value);
        formData.append(
            "deskripsi",
            document.getElementById("deskripsiproduk").value
        );
        formData.append("stok", document.getElementById("stok").value);
        formData.append("kategori", document.getElementById("kategori").value);
        formData.append("varian", document.getElementById("varian").value);
        formData.append("unit", document.getElementById("unit").value);
        formData.append("kondisi", document.getElementById("kondisi").value);
        formData.append("harga", document.getElementById("hargaproduk").value);
        formData.append("gambar", document.getElementById("gambarproduk").files[0]);

        fetch("/seller/edit-product", {
            method: "POST",
            body: formData,
        })
            .then((response) => response.json())
            .then((data) => {
                if (data.status) {
                    Swal.fire({
                        title: "Sukses!",
                        text: "Berhasil ditambah",
                        icon: "success",
                        confirmButtonText: "OK",
                    });
                } else {
                    Swal.fire({
                        title: "Error!",
                        text: "Terjadi kesalahan. Coba lagi nanti",
                        icon: "error",
                        confirmButtonText: "OK",
                    });
                }
            })
            .catch((error) => {
                Swal.fire({
                    title: "Error!",
                    text: "Network error. Please try again later.",
                    icon: "error",
                    confirmButtonText: "OK",
                });
            });
    });
</script>
{{ end }}