{{ define "content" }}
<main class="container lg:ml-60 sm:ml-20 mr-8 ml-10 p-8 transition-all duration-300">
  <div id="dashboard" class="content">
    <h2 class="text-lg font-semibold text-gray-800">Transaksi Hari Ini</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 mt-4">
      <div class="bg-green-500 p-4 rounded-md shadow-md">
        <h3 class="text-lg font-semibold text-white">Total Penjualan</h3>
        <p class="mt-1 text-xl font-bold text-white">
          {{ index .HariIni "sukses" }}x
        </p>
      </div>
      <div class="bg-blue-500 p-4 rounded-md shadow-md">
        <h3 class="text-lg font-semibold text-white">Proses</h3>
        <p class="mt-1 text-xl font-bold text-white">
          {{ index .HariIni "proses" }}x
        </p>
      </div>
      <div class="bg-yellow-500 p-4 rounded-md shadow-md">
        <h3 class="text-lg font-semibold text-white">Pending</h3>
        <p class="mt-1 text-xl font-bold text-white">
          {{ index .HariIni "pending" }}x
        </p>
      </div>
      <div class="bg-red-600 p-4 rounded-md shadow-md">
        <h3 class="text-lg font-semibold text-white">Gagal</h3>
        <p class="mt-1 text-xl font-bold text-white">
          {{ index .HariIni "gagal" }}x
        </p>
      </div>
      <div class="bg-slate-800 p-4 rounded-md shadow-md">
        <h3 class="text-lg font-semibold text-white">Total Omset</h3>
        <p class="mt-1 text-xl font-bold text-white">
          Rp {{ index .HariIni "total" }}
        </p>
      </div>
    </div>

    <h2 class="text-lg font-semibold text-gray-800 mt-4">Transaksi Kemarin</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 mt-4">
      <div class="bg-green-500 p-4 rounded-md shadow-md">
        <h3 class="text-lg font-semibold text-white">Total Penjualan</h3>
        <p class="mt-1 text-xl font-bold text-white">
          {{ index .Kemarin "sukses" }}x
        </p>
      </div>
      <div class="bg-blue-500 p-4 rounded-md shadow-md">
        <h3 class="text-lg font-semibold text-white">Proses</h3>
        <p class="mt-1 text-xl font-bold text-white">
          {{ index .Kemarin "proses" }}x
        </p>
      </div>
      <div class="bg-yellow-500 p-4 rounded-md shadow-md">
        <h3 class="text-lg font-semibold text-white">Pending</h3>
        <p class="mt-1 text-xl font-bold text-white">
          {{ index .Kemarin "pending" }}x
        </p>
      </div>
      <div class="bg-red-600 p-4 rounded-md shadow-md">
        <h3 class="text-lg font-semibold text-white">Gagal</h3>
        <p class="mt-1 text-xl font-bold text-white">
          {{ index .Kemarin "gagal" }}x
        </p>
      </div>
      <div class="bg-slate-800 p-4 rounded-md shadow-md">
        <h3 class="text-lg font-semibold text-white">Total Omset</h3>
        <p class="mt-1 text-xl font-bold text-white">
          Rp {{ index .Kemarin "total" }}
        </p>
      </div>
    </div>

    <h2 class="text-lg font-semibold text-gray-800 mt-4">Keuntungan</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 mt-4">
      <div class="bg-slate-800 p-4 rounded-md shadow-md">
        <h3 class="text-lg font-semibold text-white">Total Omset</h3>
        <p class="mt-1 text-xl font-bold text-white">Rp {{ .Omset }}</p>
      </div>
      <div class="bg-slate-800 p-4 rounded-md shadow-md">
        <h3 class="text-lg font-semibold text-white">Omset Bulan Ini</h3>
        <p class="mt-1 text-xl font-bold text-white">Rp {{ .OmsetBulanan }}</p>
      </div>
    </div>

    <h2 class="text-lg font-semibold text-gray-800 mt-4">Data Lain</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 mt-4">
      <div class="bg-slate-800 p-4 rounded-md shadow-md">
        <h3 class="text-lg font-semibold text-white">Saldo</h3>
        <p class="mt-1 text-xl font-bold text-white">Rp {{ .Saldo }}</p>
      </div>
      <div class="bg-slate-800 p-4 rounded-md shadow-md">
        <h3 class="text-lg font-semibold text-white">Total Transaksi</h3>
        <p class="mt-1 text-xl font-bold text-white">{{ .TotalTrx }}x</p>
      </div>
    </div>
  </div>
</main>
{{ end }}