{{ define "content" }}
<div id="orders" class="content container lg:ml-60 sm:ml-20 mr-8 ml-10 p-8 transition-all duration-300">
    <h2 class="text-3xl font-semibold text-gray-800">Orders</h2>
    <p class="mt-4 text-gray-600">View and manage your customer orders.</p>
    <div class="mt-8">
        <table class="min-w-full bg-white border border-gray-200 rounded-lg">
            <thead>
                <tr>
                    <th class="py-3 px-6 text-left text-gray-800">Order ID</th>
                    <th class="py-3 px-6 text-left text-gray-800">Customer</th>
                    <th class="py-3 px-6 text-left text-gray-800">Total</th>
                    <th class="py-3 px-6 text-left text-gray-800">Status</th>
                    <th class="py-3 px-6 text-center text-gray-800">Action</th>
                </tr>
            </thead>
            <tbody>
                {{ range $i, $t := .trx }}
                <tr>
                    <td class="py-3 px-6 text-gray-600">{{ $t.OrderID }}</td>
                    <td class="py-3 px-6 text-gray-600">{{ $t.Username }}</td>
                    <td class="py-3 px-6 text-gray-600">Rp. {{ $t.Total }}</td>
                    <td class="py-3 px-6 text-gray-600">{{ $t.Status }}</td>
                    <td class="py-3 px-6 text-center">
                        {{ if eq $t.Status "sukses"}}
                        <button disabled class="bg-green-500 text-white py-1 px-3 rounded hover:bg-green-500 ml-2">Berhasil</button>
                        {{ else }}
                        <button class="bg-red-500 text-white py-1 px-3 rounded hover:bg-red-600 ml-2">Batalkan</button>
                        {{ end }}
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>

{{ end }}