{{ define "header" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Seller Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
  <script src="/public/js/sweetalert.js"></script>
</head>
{{ end }}
{{ define "navbar" }}
<nav class="bg-gray-100 flex">
  <aside class="bg-white shadow-md fixed h-screen w-16 md:w-64 transition-all duration-300">
    <div class="px-2 md:px-6 py-4 flex justify-center md:justify-start">
      <h1 class="hidden md:block text-2xl font-bold text-blue-600">
        Selamat Datang <span class="text-gray-800">{{ .Toko.Nama }}</span>
      </h1>
      <i class="fas fa-user text-blue-600 text-2xl block md:hidden"></i>
    </div>
    <nav class="mt-6">
      <ul>
        <li>
          <button onclick="showContent('/seller')"
            class="flex items-center justify-center md:justify-start w-full px-2 md:px-6 py-3 text-gray-600 hover:bg-blue-50 hover:text-blue-600 focus:bg-blue-100 focus:text-blue-600">
            <i class="fas fa-tachometer-alt text-xl"></i>
            <span class="text-sm hidden md:inline ml-3">Dashboard</span>
          </button>
        </li>
        <li>
          <button onclick="showContent('/seller/list-product')"
            class="flex items-center justify-center md:justify-start w-full px-2 md:px-6 py-3 text-gray-600 hover:bg-blue-50 hover:text-blue-600 focus:bg-blue-100 focus:text-blue-600">
            <i class="fa-brands fa-product-hunt text-xl"></i>
            <span class="text-sm hidden md:inline ml-3">Products</span>
          </button>
        </li>
        <li>
          <button onclick="showContent('/seller/list-orders')"
            class="flex items-center justify-center md:justify-start w-full px-2 md:px-6 py-3 text-gray-600 hover:bg-blue-50 hover:text-blue-600 focus:bg-blue-100 focus:text-blue-600">
            <i class="fa-solid fa-basket-shopping text-xl"></i>
            <span class="text-sm hidden md:inline ml-3">Orders</span>
          </button>
        </li>
        <li>
          <button onclick="showContent('/seller/profile')"
            class="flex items-center justify-center md:justify-start w-full px-2 md:px-6 py-3 text-gray-600 hover:bg-blue-50 hover:text-blue-600 focus:bg-blue-100 focus:text-blue-600">
            <i class="fa-solid fa-user-pen text-xl"></i>
            <span class="text-sm hidden md:inline ml-3">Profile</span>
          </button>
        </li>
        <li>
          <button onclick="showContent('/')"
            class="flex items-center justify-center md:justify-start w-full px-2 md:px-6 py-3 text-gray-600 hover:bg-blue-50 hover:text-blue-600 focus:bg-blue-100 focus:text-blue-600">
            <i class="fa-solid fa-house text-xl"></i>
            <span class="text-sm hidden md:inline ml-3">Home</span>
            </button>
        </li>
      </ul>
    </nav>
  </aside>
</nav>

<script>
function showContent(url) {
  window.location.href = url
}
</script>
{{ end }} {{ define "end"}}

</html>
{{ end }}